<pre *ngIf="myForm">{{ myForm.value | json }}</pre>

<div class="row py-3">
  <div class="col-6 py-2 ngx-dnd-container border border-primary" ngxDroppable>
    <div class="ngx-dnd-item" ngxDraggable [ngxDraggable]="['example-target']">Item 1</div>
    <div class="ngx-dnd-item" ngxDraggable [ngxDraggable]="['example-target']">Item 2</div>
    <div class="ngx-dnd-item" ngxDraggable [ngxDraggable]="['example-target']">Item 3</div>
  </div>

  <div class="col-6 py-2 ngx-dnd-container border border-secondary" ngxDroppable="example-target"></div>
</div>

<form *ngIf="myForm" [formGroup]="myForm">
  <h3 class="text-center">{{ schema.name }}</h3>
  <ng-container *ngFor="let item of schema.children">
    <ng-container *ngTemplateOutlet="formItem; context: { item: item, group: myForm }"></ng-container>
  </ng-container>
</form>

<ng-template #formItem let-item="item" let-group="group">
  <div [formGroup]="group" class="form-group">
    <ng-container [ngSwitch]="item.type">
      <ng-container *ngSwitchCase="formTypes.STRING">
        <label [for]="item.id">{{ item.name }}</label>
        <input [formControlName]="item.id" class="form-control" [id]="item.id" [placeholder]="item.placeholder" />
        <small *ngIf="item.helptext" class="form-text" [innerHTML]="item.helptext"></small>
      </ng-container>
      <ng-container *ngSwitchCase="formTypes.TEXTAREA">
        <label [for]="item.id">{{ item.name }}</label>
        <textarea [formControlName]="item.id" class="form-control" [id]="item.id" [placeholder]="item.placeholder"></textarea>
        <small *ngIf="item.helptext" class="form-text" [innerHTML]="item.helptext"></small>
      </ng-container>
      <ng-container *ngSwitchCase="formTypes.DROPDOWN">
        <label [for]="item.id">{{ item.name }}</label>
        <ngx-select [items]="item.options" [placeholder]="item.placeholder" tabindex="-1" [formControlName]="item.id"></ngx-select>
        <small *ngIf="item.helptext" class="form-text" [innerHTML]="item.helptext"></small>
      </ng-container>
      <ng-container *ngSwitchCase="formTypes.CHECKBOX">
        <p>{{ item.name }}</p>
        <div [formArrayName]="item.id" *ngFor="let opt of item.options; let i = index" class="form-check form-check-inline">
          <input [formControlName]="i" class="form-check-input" type="checkbox" [id]="item.id + opt.id" [value]="opt.id" />
          <label class="form-check-label" [for]="item.id + opt.id">{{ opt.text }}</label>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="formTypes.RADIO">
        <p>{{ item.name }}</p>
        <div *ngFor="let opt of item.options; let i = index" class="form-check">
          <input
            class="form-check-input"
            [checked]="i === 0"
            [formControlName]="item.id"
            type="radio"
            [id]="item.id + opt.id"
            [value]="opt.id"
          />
          <label class="form-check-label" [for]="item.id + opt.id">
            {{ opt.text }}
          </label>
        </div>
        <small *ngIf="item.helptext" class="form-text" [innerHTML]="item.helptext"></small>
      </ng-container>
      <ng-container *ngSwitchCase="formTypes.CHILD">
        <h3 class="text-center">{{ item.name }}</h3>
        <ng-container *ngFor="let subItem of item.children">
          <ng-container *ngTemplateOutlet="formItem; context: { item: subItem, group: group.get(item.id) }"></ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
